.container {
    margin: 0px;
}
/******************************* HEADER ******************************/
.header, .title {
    margin: 0px 10px;
}
/*****************************Reseach section*****************************/
.research {
    margin: 0px 10px;
}
form {
    margin: 10px 0px;
}
.research-button-text {
    display: none;
}
.fa-search{
    display: flex;
}
.filter-content{
    margin: 10px;
}
.fa-info-circle {
    margin: 0.5em;
}
/******************************accommodation section******************************/
.accommodation {
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 5px 0px;
}
.all-accommodation {
    padding: 0px;
    border-radius: 0em;
    background-color: #ffffff;
}
.accommodation h2, .showmore {
    padding: 5px 20px; 
}
.popular-accommodation {
    border-radius: 0em;
    margin: 0px;
    padding: 10px 5px;
}
.popular-title {
    justify-content: stretch;
}
.popular-options {
    flex-direction: row;
}
.popular-link {
    margin: 5px;
    flex-basis: 33%;
}
.popular-card-place .stars{
    margin-top: 2px;
}
/******************************activities******************************/
.activities{
    flex-direction: column;
    margin: 10px 5px;
}
.activities-options {
    flex-direction: row;
    height: 100%;
}
.activities-options-link {
    flex-basis: 45%;
}
.xl-pic, .m-pic, .s-pic, .xs-pic {
    height: 10em;
    width: 100%;
}
/*******************************Footer*******************************/
.footer-section {
    width: 100%;
}