/******************************mise en page du texte******************************/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: black;
}
a:hover, a:hover h3 {
    color:  #0065FC;
    text-decoration:none;
    font-style: normal;
}
ul {
    list-style: none;
    text-align: left;
    padding: 0em;
}
h1 {
    margin: 0.5em 0em 0.3em 0em;
    color: black;
    font-size: 2em;
}
h2 {
    margin: 0.3em 0em 0.5em 0em;
    color: black;
    font-size: 1.4em;  
}
h3 {
    margin: 0.3em 0em 0em 0em;
    color: black;
    font-size: 1em;
}
p {
    margin: 0em 0em 0em 0.1em;
}
/*******************************mise en page des blocs du site*******************************/
div {
    display: flex;
}
.container {
    flex-direction: column;
    max-width: 1350px;
    margin: auto;
}
i, span {
    color:  #0065FC;
    /*background-color: #DEEBFF;*/
}
/******************************* HEADER ******************************/
.header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-end;
}
.nav img {
    padding-top: 1em;
}
.nav li:hover {
    color:  #0065FC;
    border-top: 2px solid  #0065FC;
    padding: 2.3em 2.5em 0em 2.5em;
}
.nav ul {
    display: flex;
    align-items: baseline;
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.nav li, .nav p {
    padding: 2.5em;
}
.inscription {
    color:  #0065FC;
}
.title {
    flex-direction: column;
}
/*****************************Reseach section*****************************/
form {
    margin-top: 2em;
}
.fa-map-marker-alt{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 0.9em 0em 0em 0.9em;
    padding: 0.7em;
    color: black;
}
.research input {
    border: 1px solid #F2F2F2;
    padding: 0.8em ;
}
.research-text-button, .research-icon-button {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0em 0.9em 0.9em 0em;
    padding: 0.8em;
    margin-top: 0em;
    color: #ffffff;
    font-weight: 500;
}
.research-icon-button{
    display: none;
}
.fa-search {
    color: #F2F2F2;
}
.filter-content{
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    margin: 1em 0em 1em 0em;
}
.filter p {
    padding-right: 1em;
    margin-block-start: 0.2em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.filter button {
    border: 2px solid #F2F2F2 ;
    border-radius: 2.5em;
    background-color: #ffffff;
    margin: 1em 1em 1em 1em;
    padding: 0em 1em 0em 0em;
}
.filter button i {
    width: 15px;
    border-radius: 50% ;
    padding: 1.2em;
    margin: 0em 0.5em 0em -1em;
    background-color: #DEEBFF ;
}
.filter button:hover {
    background-color: #0065FC;
    color:#DEEBFF;
}
.filter .small {
    justify-items: flex-start;
}
.fa-info-circle {
    margin: 0.5em;
    color: #ffffff;
    border-radius: 50%;
    background-color: #0065FC;
}
/******************************accommodation section******************************/
.accommodation {
    justify-content: space-between;
    margin: 1em 0em;
}
.accommodation h2 {
    padding-left: 2em; 
}
.all-accommodation {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    border-radius: 1em;
    max-width: 879px;
    padding-top: 2em;
}
.accommodation-options {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.all-accommodation-card {
    flex-flow: column nowrap;
    background-color: #fff;
    margin-bottom: 2em;
    border: 4px solid #ffffff;
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}
a:hover .all-accommodation-card, a:hover .popular, a:hover .activities-card-place {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
}
.accommodation-pic {
   width: 15em;
   height: 6em;
   border-radius: 1.5em 1.5em 0em 0em;
   object-fit: cover;
}
.all-accommodation-card h3, .all-accommodation-card p, .all-accommodation-card .stars {
    padding: 0.2em 0em 0.3em 0.5em;
}
.stars{
    flex-flow: row nowrap;
    color: #0065FC;
    padding: 0.2em 0em 0.3em 0em;
}
.stars .far, .stars .fas {
    font-size: 0.75em;
}
.grey {
    color: #DEEBFF;
}
.showmore {
    padding: 0em 3em;
    font-size: 1.1em;
}
.popular-card-place p, .all-accommodation-card p {
    font-size: 0.8em;
}
.popular-accommodation {
    flex-flow: column nowrap;
    align-content: center;
    background-color: #F2F2F2;
    border-radius: 1em;
    margin: 0em;
    padding: 2em 0em 01em 0em;
    max-width: 420px;
}
.popular-title {
    float: right;
    padding-right: 2em;
    color: black;
}
.popular {
    justify-content:start;
    align-items: flex-start;
    background-color: #fff;
    margin: 1em 2em 1em 2em;
    border: 4px solid #ffffff;
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    padding: 0em 2em 0em 0em;
    min-width: 17em;
}
.popular-pic {
    width: 8em;
    height: 8em;
    border-radius: 1.5em 0em 0em 1.5em;
    object-fit: cover;
}
.popular-card-place h3, .popular-card-place p, .popular-card-place .stars {
    padding-left: 1em;
}
.popular-card-place .stars {
    margin-top: 3em;
}
.popular-card-place, .activities-card-place, .footer-section {
    flex-flow: column nowrap;
}
/******************************activities******************************/
.activities{
    flex-direction: column;
    margin: 1em 0em ;
}
.activities-options {
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: space-between;
    margin: 0.5em 0em 0.5em 0em;
    height: 30em;
}
.activities-card-place {
    margin: 0.3em;
    width: 18em;
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}
.activities-pic {
    border-radius: 1.5em 1.5em 0em 0em ;
    object-fit: cover;
}
.xl-pic {
    height: 24em;
}
.m-pic {
    height: 12em;
}
.s-pic {
    height: 10em;
}
.xs-pic {
    height: 8em;
}
.activities-card-place h3, .activities h2 {
    padding: 1em;
}
/*******************************Footer*******************************/
#footer {
    background-color: #F2F2F2 ;
}
.footer {
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}
.footer-section {
    width: 33%;
}
.footer-section p {
    margin: 1em 0em 0.3em 0em;
    font-size: 1.1em;
}
.footer-section li {
    padding-bottom: 0.6em;
}
