/******************************mise en page du texte******************************/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: black;
}
a:hover, a:hover h3 {
    color:  #0065FC;
    text-decoration:none;
    font-style: normal;
}
ul {
    list-style: none;
    text-align: left;
    padding: 0em;
}
h1 {
    margin: 0.5em 0em 0em 0em;
    color: black;
    font-size: 2em;
}
h2 {
    margin: 0.3em 0em 0.5em 0em;
    color: black;
    font-size: 1.4em;  
}
h3 {
    margin: 0.3em 0em 0em 0em;
    color: black;
    font-size: 1em;
}
p {
    margin: 0em 0em 0em 0.1em;
}
/*******************************mise en page des blocs du site*******************************/
div {
    display: flex;
}
.container {
    flex-direction: column;
    margin: 0px 10px;
    padding: 0px 20px;
}
i {
    color:  #0065FC;
    /*background-color: #DEEBFF;*/
}
button {
    cursor: pointer;
}
/******************************* HEADER ******************************/
.header{
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.nav img {
    padding-top: 1em;
}
.nav li:hover, .nav p:hover {
    color:  #0065FC;
    border-top: 2px solid  #0065FC;
    padding: 2.3em 2.5em 0em 2.5em;
}
.nav ul {
    display: flex;
    align-items: baseline;
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.nav li, .nav p {
    padding: 2.5em;
}
.inscription {
    color:  #0065FC;
}
.title {
    flex-direction: column;
    margin-bottom: 10px;
}
/*****************************Reseach section*****************************/
form {
    margin: 5px;
}
.fa-map-marker-alt{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 0.9em 0em 0em 0.9em;
    padding: 0.7em;
    color: black;
}
.research input {
    border: 1px solid #F2F2F2;
    padding: 0.8em ;
}
.research-button {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0em 0.9em 0.9em 0em;
    padding: 0.8em;
    margin-top: 0em;
    color: #ffffff;
}
.research-button .fas {
    display: none;
} 
.fa-search {
    display: none;
    color: #F2F2F2;
}
.filter-content{
    flex-flow: row wrap;
    align-items: center;
}
.filter p {
    padding-right: 1em;
    margin-block-start: 0.2em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.filter button {
    border: 2px solid #F2F2F2 ;
    border-radius: 2.5em;
    background-color: #ffffff;
    margin: 1em 1em 1em 1em;
    padding: 0em 1em 0em 0em;
}
.filter button i {
    width: 15px;
    border-radius: 50% ;
    padding: 1.2em;
    margin: 0em 0.5em 0em -1em;
    background-color: #DEEBFF ;
}
.filter button:hover {
    background-color: #0065FC;
    color:#DEEBFF;
}
.filter-small {
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: baseline;
    margin: 15px 0px;
}
.fa-info-circle {
    color: #ffffff;
    border-radius: 50%;
    background-color: #0065FC;
}
/******************************accommodation section******************************/
.accommodation {
    justify-content: stretch;
    margin: 10px 0px;
}
.all-accommodation {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    border-radius: 1em;
    padding: 10px;
}
.all-accommodation h2 {
    padding: 0px 20px;
}
.accommodation-options {
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: center;
}
.all-accommodation-card {
    flex-flow: column nowrap;
    background-color: #fff;
    border: 4px solid #ffffff;
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}
.all-accommodation-card-link {
    flex-basis: 31%;
    margin: 10px;
}
.accommodation-pic {
   height: 7em;
   border-radius: 1.5em 1.5em 0em 0em;
   object-fit: cover;
}
.all-accommodation-card h3, .all-accommodation-card p, .all-accommodation-card .stars {
    padding: 0.2em 0em 0.3em 0.5em;
}
.stars{
    flex-flow: row nowrap;
    color: #0065FC;
}
.stars .far, .stars .fas {
    font-size: 0.75em;
}
.grey {
    color: #DEEBFF;
}
.showmore {
    padding: 0px 20px;
    font-size: 1.1em;
}
.all-accommodation-card-link:hover,  .popular-link:hover , a:hover .activities-card-place {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
    border-radius: 1.5em;
}
.popular-link {
    margin: 10px 25px;
}
.popular-accommodation {
    flex-flow: column nowrap;
    justify-content: stretch;
    background-color: #F2F2F2;
    border-radius: 1em;
    margin: 0px 0px 0px 30px;
    padding: 2em 0em 01em 0em;
}
.popular-title {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}
.fa-chart-line {
    color: black;
    font-size: 1.5em;
}
.popular-options {
    flex-direction: column;
}
.popular {
    justify-content: stretch;
    align-items: flex-start;
    background-color: #fff;
    border: 4px solid #ffffff;
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}
.popular-pic {
    width: 8em;
    height: 8em;
    border-radius: 1.5em 0em 0em 1.5em;
    object-fit: cover;
}
.popular-card-place {
    flex-direction: column;
    justify-content: stretch;
    padding-right: 5px;
    margin-left: 10px;
}
.popular-infos {
    flex-direction: column;
}
.popular-card-place .stars{
    margin-top: 50px;
}
.popular-card-place p, .all-accommodation-card p {
    font-size: 0.8em;
}
/******************************activities******************************/
.activities{
    flex-direction: column;
    justify-content: stretch;
    margin: 0px 10px ;
}
.activities-options {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    justify-content: space-evenly;
    margin: 0px;
    height: 420px;
}
.activities-options-link {
    width: 18em;
    margin: 10px;
}
.activities-card-place {
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}
.activities-pic {
    border-radius: 1.5em 1.5em 0em 0em ;
    object-fit: cover;
}
.xl-pic {
    height: 345px;
}
.m-pic {
    height: 135px;
}
.s-pic {
    height: 160px;
}
.xs-pic {
    height: 110px;
}
.activities-card-place h3 {
    padding: 10px;
}
.activities-card-place, .footer-section {
    flex-flow: column nowrap;
}
/*******************************Footer*******************************/
#footer {
    background-color: #F2F2F2 ;
}
.footer {
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.footer-section {
    flex-wrap: wrap;
    width: 30%;
}
.footer-section p {
    margin: 1em 0em 0.3em 0em;
    font-size: 1.1em;
}
.footer-section li {
    padding-bottom: 0.6em;
}
