/*mise en page du texte*/
body {
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}

/*mise en page des blocs du site*/
div {
    display: flex;
}
.container {
    flex-direction: column;
    max-width: 90%;
    margin: auto;
}
/* HEADER */
.header {
    flex-direction: column;
}
.nav {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-content: center;
}
.nav ul {
    display: flex;
    list-style: none;
}

/*Reseach section*/
.filter {
    flex-direction: row;
    align-items: center;
}
/*accommodation section*/
.accommodation-pic {
    width: 300px;
}
.stars{
    flex-flow: row nowrap;
}
.card-place, .footer-section {
    flex-flow: column nowrap;
    align-content: flex-start;
}
.accommodation {
    flex-direction: column;
    max-width: 70%;
}
.accommodation-options {
    flex-flow: row wrap;
}
.popular {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*activities*/
.activities-options {
    flex-flow: row wrap;
}
.activities{
    flex-direction: column;
}
/*Footer*/
.footer {
    justify-content: space-around;
}